
	html,
	body {
		height: 100%;
		margin: 0px;
		background-color: #00a6ff;
		font-family: "Roboto";
		font-weight: 400;
		font-style: normal;
	}

	.container-fluid {
		height: 100%;
	}

	.LoginContainer {
		margin-top: 12%;
		background-color: white;
		padding: 15px 30px;
		border-radius: 1rem;
	}

	.LoginLogo {
		padding: 20px;
	}

	.LoginLogo>img {
		height: 30px;
		width: 30px;
		margin-left: 40%;
	}

	.LoginHeader {
		font-weight: 700;
		font-size: 16px;
		text-align: center;
		padding: 10px 0px;
	}

	.LoginInput {
		padding: 6px 0px;
	}

	.LoginInput>input {
		margin: 5px 0px;
		width: 100%;
		border-radius: 1.5rem;
		border: 1px solid;
	}

	.LoginSubmit>button {
		background-color: #00a6ff;
		border-radius: 2rem;
		color: white;
	}

	.LoginForgotPassword {
		color: #00a6ff;
		text-align: center;
		padding: 10px 0px;
	}
