<div class="container">
  <div class="container">
    <div class="mainPage">
      <div class=" mainLogo">
        GoddiesShopLogo
      </div>
      <div class="  mainPageProducts">
        <div>
          <a href="#">Books</a>
        </div>
        <div>
          <a href="#">Food</a>
        </div>
        <div>
          <a href="#">Clothes</a>
        </div>
        <div>
          <a href="#">Drink</a>
        </div>
      </div>
      <div class="mainPageSignups">
        <div>

          <a href="#"> <span class="glyphicon glyphicon-shopping-cart"></span> Cart</a>
        </div>
        <div>
          <a routerLink ="/login">Sign In</a>
        </div>
        <div>
          <a href="#">Sign Up</a>
        </div>
      </div>

    </div>
  </div>
  <router-outlet></router-outlet>
</div>

<!-- <router-outlet></router-outlet> -->